@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/js/Chart.bundle.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Sales Statistics</h1>
    <p id="datetime"></p>
</div>

<div class="card box-shadow" style="margin-top:30px">
    <div class="card-header text-white" style="background-color:dodgerblue">
        <h4 class="my-0 font-weight-normal">Top 10 Sold Articles</h4>
    </div>
    <div class="card-body">
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Total Sales Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.Top10SoldArticles)
                {
                    <tr>
                        <td>@article.ArticleName</td>
                        <td>@article.TotalSalesAmount €</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card box-shadow" style="margin-top:30px">
    <div class="card-header text-white" style="background-color:darkcyan">
        <h4 class="my-0 font-weight-normal">Sold Articles per Day</h4>
    </div>
    <div class="card-body">
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Sales Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SoldArticlesPerDay)
                {
                    <tr>
                        @if (item.Date == null)
                        {
                            <td>N/A</td>
                        }
                        else
                        {
                            <td>@item.Date.ToString("dd.MM.yyyy")</td>
                        }
                        <td>@item.TotalSalesQuantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container border" style="margin-top:10px; padding: 5px 5px 5px 5px;">
    <div class="col">
        <div class="row" style="margin-top:20px">
            <div class="col">
                <div class="row w-100 h-100 justify-content-center">
                    <canvas id="revenuePerDayChart" width="450" height="350"></canvas>
                </div>
            </div>
            <div class="col">
                <div class="row w-100 h-100 justify-content-center">
                    <canvas id="soldArticlesPerDayChart" width="450" height="350"></canvas>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col">
                <div class="row justify-content-center">
                    <canvas id="revenuePerOrderChart" width="450" height="350"></canvas>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <canvas id="top10SoldArticlesChart" width="450" height="350"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var revenuePerDayDates = [];
    var revenuePerDayTotalSalesAmount = [];
    var soldArticlesPerDay_Dates = [];
    var soldArticlesPerDay_TotalSalesQuantity = [];
    var revenuePerOrder_DatePlaced = [];
    var revenuePerOrder_TotalSalesAmount = [];
    var top10SoldArticles_ArticleName = [];
    var top10SoldArticles_TotalSalesAmount = [];
    var statisticsChartData;

    // Remove fills for line graphs
    Chart.defaults.global.elements.line.fill = false;

    function showRevenuePerDayChart() {
        revenuePerDayDates = statisticsChartData.RevenuePerDayDates;
        revenuePerDayTotalSalesAmount = statisticsChartData.RevenuePerDayTotalSalesAmount;
        let revenuePerDayChart = new Chart(document.getElementById("revenuePerDayChart"), {
            type: 'bar',
            data: {
                labels: revenuePerDayDates,
                datasets: [{
                    label: 'Revenue Per Day',
                    data: revenuePerDayTotalSalesAmount,
                    backgroundColor: [
                        'green',
                        'blue',
                        'red',
                        'yellow',
                        'gray',
                        'darkgreen',
                        'black',
                    ]
                }]
            },
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: 'Revenue Per Day'
                },
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Euro (€)'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function showSoldArticlesPerDayChart() {
        soldArticlesPerDay_Dates = statisticsChartData.SoldArticlesPerDay_Dates;
        soldArticlesPerDay_TotalSalesQuantity = statisticsChartData.SoldArticlesPerDay_TotalSalesQuantity;
        let revenuePerDayChart = new Chart(document.getElementById("soldArticlesPerDayChart"), {
            type: 'line',
            data: {
                labels: soldArticlesPerDay_Dates,
                datasets: [{
                    label: 'Sold Articles Per Day',
                    data: soldArticlesPerDay_TotalSalesQuantity,
                    backgroundColor: [
                        'green',
                        'blue',
                        'red',
                        'yellow',
                        'gray',
                        'darkgreen',
                        'black',
                    ]
                }]
            },
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: 'Sold Articles Per Day'
                },
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Pcs'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function showRevenuePerOrderChart() {
        revenuePerOrder_DatePlaced = statisticsChartData.RevenuePerOrder_DatePlaced;
        revenuePerOrder_TotalSalesAmount = statisticsChartData.RevenuePerOrder_TotalSalesAmount;
        let revenuePerOrderChart = new Chart(document.getElementById("revenuePerOrderChart"), {
            type: 'pie',
            data: {
                labels: revenuePerOrder_DatePlaced,
                datasets: [{
                    label: 'Revenue Per Order',
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3e55cf", "#7e5ea3", "#9cba1e", "#e2c3b7", "#c65852"],
                    data: revenuePerOrder_TotalSalesAmount
                }]
            },
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: 'Revenue Per Order'
                },
                legend: {
                    position: 'bottom',
                    display: true
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    }

    function showTop10SoldArticlesChart() {
        top10SoldArticles_ArticleName = statisticsChartData.Top10SoldArticles_ArticleName;
        top10SoldArticles_TotalSalesAmount = statisticsChartData.Top10SoldArticles_TotalSalesAmount;
        let top10SoldArticlesChart = new Chart(document.getElementById("top10SoldArticlesChart"), {
            type: 'radar',
            data: {
                labels: top10SoldArticles_ArticleName,
                datasets: [{
                    label: 'Top 10 Sold Articles',
                    fill: true,
                    backgroundColor: "rgba(255,99,132,0.2)",
                    borderColor: "rgba(255,99,132,1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(255,99,132,1)",
                    pointBorderColor: "#fff",
                    data: top10SoldArticles_TotalSalesAmount
                }]
            },
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: 'Top 10 Sold Articles'
                },
                legend: {
                    position: 'bottom',
                    display: false
                },
                tooltips: {
                    enabled: true
                },
                scale: {
                    angleLines: {
                        display: false
                    },
                    ticks: {
                        suggestedMin: 50,
                        suggestedMax: 100
                    }
                }
            }
        });
    }

    function getChartData() {
        return fetch('./Index?handler=StatisticsChartData',
            {
                method: 'get',
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            })
            .then(function (response) {
                if (response.ok) {
                    return response.text();
                } else {
                    throw Error('Response Not OK');
                }
            })
            .then(function (text) {
                try {
                    return JSON.parse(text);
                } catch (err) {
                    throw Error('Method Not Found');
                }
            })
            .then(function (responseJSON) {
                console.log(responseJSON);
                statisticsChartData = responseJSON;
                showRevenuePerDayChart();
                showSoldArticlesPerDayChart();
                showRevenuePerOrderChart();
                showTop10SoldArticlesChart();
            })
    }

    getChartData();
</script>

<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2));
</script>